@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, header, article, section, aside, nav, figure, figcaption, adress, textarea, input[type=text], input[type=password] {
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, adress {	display: block;}

html { height:100%;}
body {
	font-family:"Nanum Gothic", "맑은 고딕", Malgun Gothic;
	font-size:14px;
	color:#000;
	letter-spacing:-1px;
	line-height:1;
}

a:link,
a:visited { color:#000; text-decoration:none;}

p { line-height:1.5;}

select { font-size:100%; vertical-align:middle; background-color:#fff;}
select[disabled] { background-color: #ccc;}

input[type=submit] { border:0; cursor:pointer; -webkit-appearance: none;}
input[type=checkbox] { border:1px solid #888;}
input[type=checkbox], input[type=radio]  {
	width:19px;
	height:19px;
	margin-top:-1px;
	vertical-align:middle;
}
input[type=file], input[type=text], input[type=password] {
	padding:0 3px;
	font-size:100%;
	vertical-align:middle;
	border:1px solid #888;
	background-color:#fff;
	-webkit-appearance: none;
}
input[type=text]:focus, input[type=password]:focus {
	background-color:#ecf9ff;
}
input[readonly],
input[disabled] { background-color:#fff;}

button {
	border:0 none;
	padding:0;
	margin:0;
	font-size:100%;
	color:#000;
	vertical-align:middle;
	background:transparent;
	cursor:pointer;
}
button::-moz-focus-inner {
	margin: -1px;
	padding: 0;
}

ul, ol {
	list-style:none;
}

address,caption,cite,code,dfn,var,em {
	font-style:normal;
	font-weight:normal;
}

textarea {
	width:100%;
	padding:5px;
	font-size:100%;
	border:1px solid #ddd;
	background-color:#fff;
	border-radius:0;
	resize:none;
	-webkit-appearance: none;
	-webkit-border-radius:0;
}
textarea[disabled],
textarea[readonly]  { background-color:#ccc;}

fieldset,img {
	border:0;
}

legend {
	width:0;
	height:0;
	overflow:hidden;
	margin:0;
	padding:0;
	visibility:hidden;
	font-size:0;
	line-height:0;
}

.ellipsis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* clear */
.clearfix::after { display:block; clear:both; visibility:hidden; height:0; content:'.';}
* html .clearfix {
	height:1%;
}
.hidden {
	display:none;
}
.visible {
	position:absolute;
	top:-9999px;
	width:0;
	height:0;
	overflow:hidden;
	margin:0;
	padding:0;
	visibility:hidden;
	font-size:0;
	line-height:0;
}


/* Table */
caption {
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells:show;
}
table th,
table td { vertical-align: middle;}
